
* {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
}
/*url("./Images/IMG3.jpg");*/
/* linear-gradient(120deg, #08ebc5 0%, #ff08a0 20%,#fdd804 70% );*/
body {
  background-image:linear-gradient(120deg, #08ebc5 0%, #ff08a0 20%,#fdd804 70% );
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
  justify-content: center;
}
img{
  max-width: 100%;
  border-radius: 1em;
  
}


form {
 
  display: flex;
  justify-content: center;
  
}
form Input{
  color: #fdd804;

}



select {
  color: #0608af;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
.Navbar{
  background-color: #fdd804;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/

